




/*
     FILE ARCHIVED ON 20:16:21 mar 16, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 9:49:05 maj 13, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
.cover {cursor:hand;}
.content {font-family:verdana,arial,helvetica; font-size:8pt;}
.pinstripe {background-image:url(/web/20070316201621/http://www.gartner.com/images/header/header_pinstripe.gif); background-repeat:repeat-x;}